@using System.Data
@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@using CTGroup.Common
@using CTGroup.BO.Data
@using CTGroup.BO.Web.Common
@using CTGroup.BO.Web.Models
@using PagedList.Mvc;
@model CTGroup.BO.Services.PagedSearchList<CTGroup.BO.Data.PaymentRequestDetail>
<div class="table-responsive">

    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>
                Mã
            </th>
            <th>
                Số tiền
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Loại phiếu
            </th>
            <th>
                Loại thanh toán
            </th>
            <th>
                Mô tả
            </th>
            <th>
                In phiếu
            </th>

        </tr>
        @{ int index = Model.PageSize * (Model.PageNumber - 1) + 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(index++)
                </td>
                <td>
                    @*@if (UserPermission.Has(Permission.ID_Edit)))
                        {**@
                    <a href="@Url.Action("EditDetail", new {id = item.ID})">@item.ID</a>
                    @*@Ajax.ActionLink(item.Name, "CreateEdit", new { Id = item.Id }, new AjaxCommonOption() { OnSuccess = "OpenModal" })*@    @*Popup*@
                    @*}
                        else
                        {
                        @("KH" + item.ID)
                        }*@
                </td>
                <td>
                    @item.Amount.ToString("##,###")
                </td>
                <td>
                    @WebUtil.GetString(item.Status)
                </td>
                <td>
                    @WebUtil.GetString(item.Type)
                </td>
                <td>
                    @WebUtil.GetString(item.PaymentMethod)
                </td>
                <td>
                    @item.Description
                </td>
                <td class="center">

                    @Html.ActionLink("In lệnh", "Print", new { id = item.ID }, new { @class = "btn btn-primary btn-xs" })

                    @*@Html.ActionLink("In lệnh", "ShowUpdateImage", new { id = Model.Id }, new { @class = "btn btn-primary btn-xs" })*@
                </td>


            </tr>
        }
    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page =>
{
    Model.SearchModel.PageIndex = page;
    return Url.Action("List", Model.SearchModel);
},
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxCommonOption() { HttpMethod = "POST", UpdateTargetId = "content" }))
</div>



