@using CTGroup.BO.Data
@using CTGroup.BO.Web.Common
@using CTGroup.Common.Helpers;
@using CTGroup.Common;


@model CTGroup.BO.Data.PaymentRequest

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/Money.js"></script>
<style>
    .tblMain {
        border-collapse: collapse;
    }

        .tblMain th {
            border: 1px solid black;
        }

        .tblMain td {
            border: 1px solid black;
            text-align: center;
        }
</style>

<div style="width: 800px; height: 1100px">
    <div style="height: 90%">
        <table class="tblMain">

            <tr>
                <td style="text-align:center;width:20%;">
                    <img src="/Content/Image/logo-ctgroup.png" width="100" height="100" />

                </td>
                <td style="text-align:center;width:10%;">
                    @{
                        var encryptedId = SecurityHelper.Encrypt(Model.ID.ToString());
                        var domain = Request.Url.AbsoluteUri.Replace(Request.Url.PathAndQuery, "");
                        @Html.GenerateQrCode(domain + Url.Action("Edit", new { id = @encryptedId }))
                    }
                </td>
                <td style="text-align:center;width:45%;">
                    <h2><b>GIẤY ĐỀ NGHỊ THANH TOÁN </b></h2>

                </td>
                <td style="text-align:left;width:25%;">
                    Mã hóa: BM01/QT.09-KSNB
                    <br /> Lần ban hành: 01
                    <br />Ngày ban hành: 04/02/2016
                    <br /> Số trang:1/2
                </td>


            </tr>
        </table>
        <br />
        <br />
        <table width="800">


            <tr>
                <td width="50%" colspan="6">
                    Họ và tên: @Model.User.Fullname
                </td>
                <td width="50%" colspan="6">
                    Chức vụ: @Model.User.Position
                </td>
            </tr>
            <tr>

                <td width="50%" colspan="6">
                    Phòng ban/ Bộ phận: @Model.User.HR_Emp.Level2VN
                </td>
                <td width="50%" colspan="6">
                    Mã ĐV/NV:
                </td>
            </tr>
            <tr>
                <td width="50%" colspan="6">
                    Số điện thoại cố định:....
                </td>
                <td colspan="6">
                    Nội bộ (Ext):.....  ,ĐTDD: @Model.User.PhoneNumber
                </td>

            </tr>


            <tr>

                <td width="100%" colspan="12">
                    Số tiền đề nghị thanh toán: @Model.Amount.MoneyToString() VND <i>(Bằng chữ: <label id="sotienchu"></label> )</i>
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="12">
                    Nội dung thanh toán (<i>ghi chi tiết</i>): @Model.Description

                </td>
            </tr>
            <tr>
                <td>
                    Ngày đề nghị thanh toán: @Model.DatePaid.GetValueOrDefault().ToShortDateString()

                </td>
            </tr>
          


        </table>
        <table>
            <tr>
                <td with="20%" colspan="6" valign="top">
                    Chứng từ đính kèm:

                </td>
                <td>
                    @{
                        string haveContract = "Hơp đồng";
                        string haveBill = "Hóa đơn";
                        string haveBBNT = "Biên bản nghiệm thu";
                        string haveNXK = "Phiếu nhập kho";


                    }
                    @if (Model.HaveContract == true)
                    {
                        @haveContract
                    }
                    @if (Model.HaveBill == true)
                    {
                        <br /> @haveBill
                    }
                    @if (Model.HaveBBNT == true)
                    {
                        <br />@haveBBNT
                    }
                    @if (Model.HaveNXK == true)
                    {
                        <br />@haveNXK
                    }
                    <br />@Model.HaveNote

                </td>
            </tr>

        </table>
        <table style="width: 100%">
            <tr>
                <td></td>
            </tr>
            <tr>


                <td style="padding-right:30px; text-align:right;" colspan="16">
                    <i> Hồ Chí Minh,Ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</i>
                </td>
            </tr>
            <tr>

                <td colspan="4" style="width: 25%;font-weight: bold">
                    <b>Trưởng Ban KSNB</b>

                </td>
                <td colspan="4" style="width: 25%;font-weight: bold;text-align:center">
                    <b>Kế toán trưởng</b>

                </td>
                <td colspan="4" style="width: 25%;font-weight: bold;text-align:center">
                    <b> Trưởng phòng/ Ban</b>

                </td>
                <td colspan="4" style="width: 25%;font-weight: bold;text-align:center">
                    <b> Người đề nghị</b>

                </td>

            </tr>

        </table>
    </div>
    <div style="height: 10%;padding-right: 0px">
        <p>
            KTT Tập đoàn và Trưởng ban KSNB xem xét, phê duyệt các khoản chi phí liên quan đến định phí do VPTĐ chi trực tiếp
            (Ngoại trừ dự án, các khoản chi thuộc danh mục định phí nhưng ngoài kế hoạch tài chính và có giá trị trên 20.000.000 đồng).
        </p>

    </div>
</div>



<script>
        var sotien = docso(@Model.Amount);
        sotien = capitalizeFirstLetter($.trim(sotien));
        $("#sotienchu").html(sotien);
    </script>





