@using CTGroup.BO.Data
@using CTGroup.BO.Web.Common
@using CTGroup.Common.Helpers;
@using CTGroup.Common;


@model CTGroup.BO.Data.PaymentRequest

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/Money.js"></script>
<style>
    .tblMain {
        border-collapse: collapse;
    }

        .tblMain th {
            border: 1px solid black;
        }

        .tblMain td {
            border: 1px solid black;
            text-align: center;
        }
</style>

<div style="width: 800px;height: 1100px">
    <div style="height: 90%">
        <table class="tblMain">
            <tr>
                <td style="text-align:center;width:20%;">
                    <img src="/Content/Image/logo-ctgroup.png" width="100" height="100" />
                </td>
                <td style="text-align:center;width:10%;">
                    @{
                        var encryptedId = SecurityHelper.Encrypt(Model.ID.ToString());
                        var domain = Request.Url.AbsoluteUri.Replace(Request.Url.PathAndQuery, "");
                        @Html.GenerateQrCode(domain + Url.Action("Edit", new { id = @encryptedId }))
                    }
                </td>
                <td style="text-align:center;width:45%;">
                    <h2>
                        <b>
                            GIẤY ĐỀ NGHỊ
                            <br />
                            QUYẾT TOÁN TẠM ỨNG
                        </b>
                    </h2>

                </td>
                <td style="text-align:left;width:25%;">
                    Số hiệu: BM02-601/QT-CTG
                    <br /> Lần ban hành: 03
                    <br />Ngày hiệu lực: 20/11/2012
                    <br /> Số trang:1/1
                </td>


            </tr>
        </table>
        <br />
        <br />
        <table width="800">


            <tr>
                <td width="50%">
                    Họ và tên: @Model.User.Fullname
                </td>
                <td width="50%">
                    Chức vụ: @Model.User.Position
                </td>
            </tr>
            <tr>
                <td width="50%">
                    Phòng ban/ Bộ phận: @Model.User.HR_Emp.Level2VN
                </td>
                <td width="50%">
                    Mã ĐV/NV:
                </td>
            </tr>
            <tr>
                <td width="50%">
                    Số điện thoại cố định: ..........
                </td>
                <td>
                    Nội bộ (Ext): ..........  ,ĐTDD: @Model.User.PhoneNumber
                </td>

            </tr>


            <tr>

                <td width="50%">
                    Số tiền tạm ứng: @Model.Amount.MoneyToString() VND
                </td>
                <td width="50%" colspan="8">
                    Phiếu chi ngày:
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="16">
                    Số tiền thanh toán: VND <i>(Bằng chữ:)</i>
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="16">
                    Nội dung quyết toán: @Model.Description
                </td>
            </tr>
            <tr>
                <td>
                    <i>Chi tiết như sau</i>
                </td>
            </tr>


        </table>


        <table class="tblMain" style="width:98%">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    NỘI DUNG
                </th>
                <th>
                    KHOẢN MỤC PHÍ
                </th>
                <th>
                    SỐ TIỀN
                </th>
                <th>
                    ĐỊNH MỨC ĐƯỢC DUYỆT
                </th>
                <th>
                    SỐ HÓA ĐƠN
                </th>
                <th>
                    GHI CHÚ
                </th>


            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td></td>
            </tr>
            <tr>


                <td style="padding-right:30px; text-align:right;" colspan="16">
                    <i>Tp.Hồ Chí Minh, Ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</i>
                </td>
            </tr>
            <tr>

                <td colspan="4" style="width: 25%;font-weight: bold">
                    <b>Trưởng Ban KSNB</b>

                </td>
                <td colspan="4" style="width: 25%;font-weight: bold;text-align:center">
                    <b>Kế toán trưởng</b>

                </td>
                <td colspan="4" style="width: 25%;font-weight: bold;text-align:center">
                    <b> Trưởng phòng/ Ban</b>

                </td>
                <td colspan="4" style="width: 25%;font-weight: bold;text-align:center">
                    <b> Người đề nghị</b>

                </td>

            </tr>

        </table>
    </div>

    <div style="height: 10%">
        <p>
            <h5>
                <i>

                    KTT Tập đoàn và Trưởng Ban KSNB xem xét, phê duyệt các khoản chi phí liên quan đến định phí do VRTĐ chi trực tiếp (ngoại trừ dự án, các khoản chi thuộc danh mục định phí nhưng ngoài kế hoạch tài chính và có giá trị trên 20.000.000 đồng)
                </i>
            </h5>
        </p>

    </div>
</div>




<script>
    var sotien = docso(@Model.Amount);
    sotien = capitalizeFirstLetter($.trim(sotien));
    $("#sotienchu").html(sotien);
</script>







