@model CTGroup.BO.Data.PaymentRequestDetail
@using System.Activities.Expressions
@using CTGroup.BO.Data
@using CTGroup.BO.Web.Common
@using CTGroup.BO.Web.Web
@using CTGroup.Common
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "PaymentRequestDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            @*<li>
                @Html.ActionLink("Quản lý thanh toán", "Index")
            </li>
            <li>
                @Html.ActionLink("Danh sách phiếu Thu Chi", "Edit",new {id= ViewBag.EncryptId })
            </li>*@
            <li class="active">
                <strong>@(Model == null || Model.ID == 0 ? "Tạo mới" : "Chỉnh sửa")</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    @using (Ajax.BeginForm("CreateEditDetail", "PaymentRequest", null, new AjaxCommonOption() {OnSuccess = "Success"}, new { role = "form", id = "MainForm" }))
                    {
                        @Html.HiddenFor(x => x.ID)
                        @Html.HiddenFor(x=>x.TimeCreated)
                        <input type="hidden" name="PaymentRequestID" value="@ViewBag.PaymentRequestid" />
                        if (Model == null || Model.ID == 0)
                        {
                            <input type="hidden" name="Type" value="@ViewBag.TypeCreate" />
                        }
                        else
                        {
                            @Html.HiddenFor(x => x.Type)
                        }

                        <div class="row">
                            <div class="col-lg-12">
                               
                               @if ((UserPermission.Has(Permission.PaymentRequest_CreateEditPaymenRequestDetail) || ViewBag.Permission == true) && ((Model.Status != PaymentRequestDetailStatus.DaDuyet || Model.Type == PaymentRequestDetailType.PhieuThu) && Model.Status != PaymentRequestDetailStatus.DaThanhToan))
                               {
                                        <a class="btn btn-primary" onclick="submit(0)">Lưu</a>
                                    }

                               
                                @if (Model != null)
                                {
                                    if (UserPermission.Has(Permission.PaymentRequest_ApproveDetail))
                                    {
                                        if (Model.Status == PaymentRequestDetailStatus.ChoDuyet)
                                        {
                                            <a class="btn btn-success" onclick="submit(1)">Duyệt chi</a>
                                        }
                                    }
                                }
                                @if (Model != null)
                                {
                                    if (UserPermission.Has(Permission.PaymentRequest_ThanhToanPhieuThuchi))
                                    {
                                        if (Model.PaymentRequest.Status == PaymentRequestStatus.HoanTat && Model.Status != PaymentRequestDetailStatus.DaThanhToan)
                                        {
                                            if (Model.Type == PaymentRequestDetailType.PhieuChi)
                                            {
                                                <a class="btn btn-success" onclick="submit(2)">Xác nhận chi</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success" onclick="submit(2)">Xác nhận thu</a>
                                            }
                                        }
                                    }
                                }


                                @Html.ActionLink("Hủy", "Edit", new { id = ViewBag.EncryptId }, htmlAttributes: new { @class = "btn btn-default", role = "button",@onclick= "window.history.back();" })
                               
                            </div>
                        </div>

                        <div class="form-horizontal">
                            <div class="col-lg-12">
                                @{
                                    var pr = ViewBag.pr as PaymentRequest;
                                }
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Loại TT</label>
                                            <div class="col-md-8">
                                               <p class="form-control-static">@pr.Type.GetString()</p>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            
                                            <label class="col-md-4 control-label">Ngày thanh toán</label>
                                            <div class="col-md-8">
                                               
                                                    <p class="form-control-static">@(pr.DatePaid!=null?pr.DatePaid.Value.ToString("dd/MM/yyyy"):"")</p>

                                                   
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Hợp đồng</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static">@(pr.CustomerContract!=null?pr.CustomerContract.Name:"")</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Khách hàng</label>
                                            <div class="col-md-8">
                                                
                                                <p class="form-control-static">@(pr.Customer != null ? pr.Customer.Name : "")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Loại <span style="color: Red">(*)</span></label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(x => x.Type, null, "-----", new { @class = "form-control", @disabled = "" })

                                            </div>

                                        </div>
                                    </div>
                                    @if ((Model != null || Model.ID != 0) && Model.Type == PaymentRequestDetailType.PhieuThu)
                                    {

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Số tiền </label>
                                                <div class="col-md-8">
                                                    <p style="margin-top: 5px">
                                                        @Model.Amount.MoneyToString()
                                                    </p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Số tiền thực thu<span style="color: Red">(*)</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(x => x.Amount, new {@class = "form-control "})
                                                    @Html.ValidationMessageFor(model => model.Amount, "Thông tin bắt buộc", new {@class = "text-danger"})
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Số tiền <span style="color: Red">(*)</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control " })
                                                    @Html.ValidationMessageFor(model => model.Amount, "Thông tin bắt buộc", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Nội dung</label>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Loại thanh toán <span style="color: Red">(*)</span></label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(x => x.PaymentMethod, null, "-----", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PaymentMethod, "Thông tin bắt buộc", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div id="transfer">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Ngân hàng</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownList("BankID", null,"-----", new { @class = "form-control", @id = "Bank" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Chi nhánh</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(x => x.BranchID, null, "-----", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Số tài khoản </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(x => x.BankAccount, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BankAccount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Tên chủ tài khoản</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(x => x.BankAccountName, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BankAccountName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Độ ưu tiên <span style="color: Red">(*)</span></label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(x => x.Priority, null, "-----", new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.Priority, "Thông tin bắt buộc", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            
                                                @if (Model.Type == PaymentRequestDetailType.PhieuChi)
                                                {
                                                    <label class="col-md-4 control-label">
                                                        Ngày dự kiến chi
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="col-md-4 control-label">
                                                        Ngày dự kiến thu
                                                    </label>
                                                }

                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                    
                                                    <input type="text" name="DaySpending" class="form-control" data_val="false" value="@((Model != null && Model.DaySpending.HasValue) ? Model.DaySpending.Value.ToString("dd/MM/yyyy") : "")">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @if (Model.Type == PaymentRequestDetailType.PhieuChi)
                                            {
                                                <label class="col-md-4 control-label">
                                                    Ngày chi
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="col-md-4 control-label">
                                                    Ngày thu
                                                </label>
                                            }
                                            <div class="col-md-8">
                                                <div class="input-group date">
                                                   
                                                    @if (Model == null || Model.ID == 0)
                                                    {
                                                        <input type="text" name="TimePaid" class="form-control" data_val="false" value="@((Model != null && Model.TimePaid.HasValue) ? Model.TimePaid.Value.ToString("dd/MM/yyyy") : "")">
                                                    }
                                                    else
                                                    {
                                                        if (UserPermission.Has(Permission.PaymentRequest_EditTimePaidPaymenRequestDetail))
                                                        {
                                                            <input type="text" name="TimePaid" class="form-control" data_val="false" value="@((Model != null && Model.TimePaid.HasValue) ? Model.TimePaid.Value.ToString("dd/MM/yyyy") : "")">
                                                        }
                                                        else
                                                        {
                                                            <input type="text" name="TimePaid" class="form-control" data_val="false" disabled="disabled" value="@((Model != null && Model.TimePaid.HasValue) ? Model.TimePaid.Value.ToString("dd/MM/yyyy") : "")">
                                                        }
                                                    }
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model != null && Model.ID > 0)
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Trạng thái <span style="color: Red">(*)</span></label>
                                                <div class="col-md-8">
                                                    @if (Model == null || Model.ID == 0)
                                                    {
                                                        @Html.DropDownListFor(x => x.Status, null, "-----", new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(model => model.Status, "Thông tin bắt buộc", new {@class = "text-danger"})
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(x => x.Status, null, "-----", new {@class = "form-control", @disabled = ""})
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </div>
                                

                                    <input type="text" hidden="" name="flag" id="flag" />
                                </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            
                                          
                                                @if ((UserPermission.Has(Permission.PaymentRequest_CreateEditPaymenRequestDetail) || ViewBag.Permission == true) && ( (Model.Status != PaymentRequestDetailStatus.DaDuyet || Model.Type == PaymentRequestDetailType.PhieuThu) && Model.Status != PaymentRequestDetailStatus.DaThanhToan) )
                                                {
                                                    <a class="btn btn-primary" onclick="submit(0)">Lưu</a>
                                                }

                                           

                                            @if (Model != null)
                                            {
                                                if (UserPermission.Has(Permission.PaymentRequest_ApproveDetail))
                                                {
                                                    if (Model.Status == PaymentRequestDetailStatus.ChoDuyet)
                                                    {
                                                        <a class="btn btn-success" onclick="submit(1)">Duyệt chi</a>
                                                    }
                                                }
                                            }
                                            
                                           

                                            @if (Model != null)
                                            {
                                                if (UserPermission.Has(Permission.PaymentRequest_ThanhToanPhieuThuchi))
                                                {
                                                    if (Model.PaymentRequest.Status == PaymentRequestStatus.HoanTat && Model.Status != PaymentRequestDetailStatus.DaThanhToan)
                                                    {

                                                        if (Model.Type == PaymentRequestDetailType.PhieuChi)
                                                        {
                                                            <a class="btn btn-success" onclick="submit(2)">Xác nhận chi</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-success" onclick="submit(2)">Xác nhận thu</a>
                                                        }

                                                    }
                                                }
                                            }


                                            @Html.ActionLink("Hủy", "Edit", new {id = ViewBag.EncryptId}, htmlAttributes: new {@class = "btn btn-default", role = "button", @onclick = "window.history.back();"})
                                        </div>
                                    </div>
                                    }
                                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $().ready(function () {
        
        if ($('#PaymentMethod').val() == '' ||  $('#PaymentMethod').val() == '1') {
            $('#transfer').hide()
        }
        $('#Amount').autoNumeric('init',{ aPad: false, aSep: '.', aDec: ',', vMin: 0.00, vMax: 999999999999999999.00 });
        $('.input-group.date').datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY',
            defaultDate: null,
            viewMode: 'years'
        });

    });

    function submit(val) {
        $('#flag').val(val)
        $('#MainForm').submit()
    }

    function Success(result) {
        result.callFunc = function () {
            location.reload();
        }
        OnSuccessAjax(result);
    }
    

    $('#Bank').on('change',
          function () {
              $('#BranchID').find("option[value\!='']").remove();
              if ($(this).val() !== '')

                  $.post('@Url.Action("GetBranchByBank")',
                      { bankID: $(this).val() },
                      function (data) {
                          $.each(data,
                              function (key, value) {
                                  $('#BranchID').append($('<option></option>').val(value.ID).html(value.Text));
                              });
                      });
          })

    $('#PaymentMethod').on('change',
        function() {
            if ($('#PaymentMethod').val() == '' || $('#PaymentMethod').val() == '1') {
                $('#transfer').hide()
                $('#BankAccount').val('')
                $('#BranchID').val('')
                $('#BankAccountName').val('')
            } else {
                $('#transfer').show()
            }
        })
</script>
