 
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_BackEnd.cshtml";
}

@using (Html.BeginForm())
{
    <section class="content-header">
        <h1>
            <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
            <small>/ Đổi mật khẩu</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-list"></i> <b>Đổi mật khẩu</b></h2>
                    </div>
                    @{Html.RenderAction("NoticeString", "Admin", new { mess = ViewBag.Mess,str= ViewBag.Str });}
                    <hr />
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="col-md-2 box-info">
                        </div>
                        <div class="col-md-7 box-info"> 
                            <div class="form-group ">
                                @Html.Label("Mật khẩu củ", new { @class = "control-label  " })
                                <input type="password" class="form-control" name="OldPass" />
                            </div>
                            <div class="form-group ">
                                @Html.Label("Mật khẩu mới", new { @class = "control-label  " })
                                <input type="password" class="form-control" name="NewPass" />
                            </div>
                            <div class="form-group ">
                                @Html.Label("Nhập lại mật khẩu", new { @class = "control-label  " })
                                <input type="password" class="form-control" name="ReNewPass" />
                            </div> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
